<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Navbar</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="topnav">
  <a href="#">Employee Management System</a>
  <a th:href="@{/employees}">Home</a>
  <a th:href="@{/employee/new}">Add Employee</a>
  <div class="search-container">
    <form>
      <input type="text" placeholder="Search.." name="search" >
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>


</body>
</html>